html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 1024px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 820px;
  }
}

@media (max-width: 414px) {
  .wrapper {
    width: 414px;
  }
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 414px) {
  .container {
    width: 414px;
  }
}

a,
li,
.hamburger,
svg,
button,
.logo,
.blackBackground {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, .container .buttonSection button, .guidelinesContainer a, .guidelinesContainer p {
  font-family: 'Paytone One', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
}

a,
button {
  outline: none;
}

.logo,
nav ul li,
nav ul li ul li,
button,
.number,
.playButton,
.playButtonArrow,
.blackBackground,
.hamburger {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.introAnimation {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  margin-left: -100%;
  -webkit-animation: introAnimation 1.3s ease-out;
          animation: introAnimation 1.3s ease-out;
}

@-webkit-keyframes introAnimation {
  0% {
    margin-left: -100%;
  }
  1% {
    margin-left: 0%;
  }
  25% {
    margin-left: 0%;
  }
  50% {
    margin-left: 0%;
  }
  70% {
    margin-left: 0%;
  }
  90% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes introAnimation {
  0% {
    margin-left: -100%;
  }
  1% {
    margin-left: 0%;
  }
  25% {
    margin-left: 0%;
  }
  50% {
    margin-left: 0%;
  }
  70% {
    margin-left: 0%;
  }
  90% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

.introAnimation .logo {
  position: absolute;
  left: 45%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: logoIntro 1s ease-in;
          animation: logoIntro 1s ease-in;
}

@media (max-width: 1024px) {
  .introAnimation .logo {
    left: 26%;
  }
}

@-webkit-keyframes logoIntro {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@keyframes logoIntro {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .part1 .logo {
    margin-left: 13%;
  }
}

@media (max-width: 800px) {
  .part1 .logo {
    margin-left: 10%;
  }
}

@media (max-width: 500px) {
  .part1 .logo {
    margin-left: 0%;
  }
}

@media (max-width: 414px) {
  .part1 .logo img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.part1 .hamburger {
  padding: 10px;
  border: 1px solid white;
}

.part1 .hamburger span {
  display: block;
  margin-bottom: 8px;
  width: 30px;
  height: 2px;
  background: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.part1 .hamburger span:nth-child(3) {
  margin-bottom: 0;
}

.part1 .hamburger span:nth-child(2).active {
  opacity: 0;
}

.part1 .hamburger span:nth-child(3).active {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.part1 .hamburger span.active {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

@media (max-width: 1024px) {
  .part1 .hamburger {
    display: block;
    position: absolute;
    top: 30%;
    right: 25%;
  }
}

@media (max-width: 414px) {
  .part1 .hamburger {
    top: 27%;
    right: 25%;
  }
}

.part1 .header {
  height: 40px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 2%;
  width: 100%;
  position: fixed;
  z-index: 20;
}

@media (max-width: 414px) {
  .part1 .header {
    width: 414px;
  }
}

.part1 .header nav {
  position: relative;
  margin-right: 5%;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: white;
}

.part1 .header nav.active {
  margin-right: 0%;
  opacity: 1;
}

@media (max-width: 1370px) {
  .part1 .header nav {
    margin-right: 10%;
  }
}

@media (max-width: 1200px) {
  .part1 .header nav {
    margin-right: 8%;
  }
}

@media (max-width: 1180px) {
  .part1 .header nav {
    margin-right: 6%;
  }
}

@media (max-width: 1150px) {
  .part1 .header nav {
    margin-right: 4%;
  }
}

@media (max-width: 1130px) {
  .part1 .header nav {
    margin-right: 2%;
  }
}

@media (max-width: 1050px) {
  .part1 .header nav {
    margin-right: 4%;
  }
}

@media (max-width: 1024px) {
  .part1 .header nav {
    display: block;
    margin-right: -100%;
    opacity: 0;
    background: black;
    width: 400px;
    height: 550px;
    position: absolute;
    top: 100%;
    right: 0%;
  }
}

@media (max-width: 414px) {
  .part1 .header nav {
    width: 250px;
  }
}

.part1 .header nav ul {
  list-style: none;
}

.part1 .header nav ul li {
  display: inline-block;
  position: relative;
  padding: 30px 10px;
}

@media (max-width: 1370px) {
  .part1 .header nav ul li {
    padding: 30px 20px;
  }
}

@media (max-width: 1110px) {
  .part1 .header nav ul li {
    padding: 30px 15px;
  }
}

@media (max-width: 1050px) {
  .part1 .header nav ul li {
    padding: 30px 10px;
  }
}

@media (max-width: 1024px) {
  .part1 .header nav ul li {
    display: block;
  }
}

@media (max-width: 1370px) {
  .part1 .header nav ul li:nth-child(5), .part1 .header nav ul li:nth-child(6), .part1 .header nav ul li:nth-child(7), .part1 .header nav ul li:nth-child(8), .part1 .header nav ul li:nth-child(9) {
    display: none;
  }
}

.part1 .header nav ul li:nth-child(4) {
  display: none;
}

@media (max-width: 1370px) {
  .part1 .header nav ul li:nth-child(4) {
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:nth-child(4) {
    display: block;
  }
}

.part1 .header nav ul li:nth-child(10) a,
.part1 .header nav ul li:nth-child(11) a {
  padding: 5px 10px;
  background: none;
  border: 1px solid white;
  -webkit-transition: .17s ease-in-out;
  transition: .17s ease-in-out;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:nth-child(10) a,
  .part1 .header nav ul li:nth-child(11) a {
    border: none;
  }
}

@media (max-width: 414px) {
  .part1 .header nav ul li:nth-child(10) a,
  .part1 .header nav ul li:nth-child(11) a {
    margin-left: -12px;
  }
}

.part1 .header nav ul li:nth-child(10) a:hover,
.part1 .header nav ul li:nth-child(11) a:hover {
  background: #89E872;
  border: 1px solid #89E872;
  color: black;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:nth-child(10) a:hover,
  .part1 .header nav ul li:nth-child(11) a:hover {
    background: none;
    color: #89E872;
    border: none;
    padding: 5px;
  }
}

.part1 .header nav ul li:nth-child(10) a:active,
.part1 .header nav ul li:nth-child(11) a:active {
  color: black;
  background: white;
  border: 1px solid white;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:nth-child(10) a:active,
  .part1 .header nav ul li:nth-child(11) a:active {
    background: none;
    color: #89E872;
    border: none;
    padding: 5px;
  }
}

.part1 .header nav ul li:nth-child(10) {
  margin-left: 10em;
  padding-right: 0;
}

@media (max-width: 1810px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 5em;
  }
}

@media (max-width: 1724px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 2em;
  }
}

@media (max-width: 1370px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 8em;
  }
}

@media (max-width: 1310px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 6em;
  }
}

@media (max-width: 1280px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 4em;
  }
}

@media (max-width: 1240px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 2em;
  }
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 0;
  }
}

.part1 .header nav ul li:nth-child(10) a {
  background: white;
  color: black;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:nth-child(10) a {
    border: none;
    background: black;
    color: white;
  }
}

.part1 .header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 80px 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media (max-width: 1676px) {
  .part1 .header nav ul li a {
    padding: 80px 16px;
  }
}

@media (max-width: 1610px) {
  .part1 .header nav ul li a {
    padding: 80px 12px;
  }
}

@media (max-width: 1540px) {
  .part1 .header nav ul li a {
    padding: 80px 10px;
  }
}

@media (max-width: 1510px) {
  .part1 .header nav ul li a {
    padding: 80px 8px;
  }
}

@media (max-width: 1480px) {
  .part1 .header nav ul li a {
    padding: 80px 6px;
  }
}

@media (max-width: 1440px) {
  .part1 .header nav ul li a {
    padding: 80px 4px;
  }
}

@media (max-width: 1410px) {
  .part1 .header nav ul li a {
    padding: 80px 2px;
  }
}

@media (max-width: 1024px) {
  .part1 .header nav ul li a {
    display: block;
    padding: 0;
    z-index: 2;
  }
}

.part1 .header nav ul li a:hover {
  color: #89E872;
}

.part1 .header nav ul li span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 4px;
  padding-left: 4px;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li span {
    position: absolute;
    left: -5%;
    top: 40%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.part1 .header nav ul li span:nth-child(2) {
  background: #89E872;
  color: black;
  font-size: 10px;
  font-weight: 700;
  padding: 2px 6px;
  position: absolute;
  right: -2%;
  top: 30%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.part1 .header nav ul li ul {
  display: none;
  padding: 5px;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li ul {
    top: 5%;
    right: 100%;
  }
}

@media (max-width: 414px) {
  .part1 .header nav ul li ul {
    top: 5%;
    right: 105%;
  }
}

.part1 .header nav ul li ul li {
  list-style: none;
  padding: 20px 20px;
  background: black;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li ul li {
    padding: 0px;
  }
}

.part1 .header nav ul li ul li:hover {
  color: #89E872;
  background: rgba(0, 0, 0, 0.863);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.part1 .header nav ul li ul li:active {
  background: black;
}

.part1 .header nav ul li:hover > ul,
.part1 .header nav ul li .insideList.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: .98;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:hover > ul,
  .part1 .header nav ul li .insideList.active {
    display: block;
  }
}

@media (max-width: 414px) {
  .part1 .header nav ul li:hover > ul,
  .part1 .header nav ul li .insideList.active {
    width: 80%;
  }
}

.part1 .header nav ul li:hover > ul > li,
.part1 .header nav ul li .insideList.active > li {
  -webkit-animation: dropMenu;
          animation: dropMenu;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.445);
          box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.445);
}

@media (max-width: 1050px) {
  .part1 .header nav ul li:hover > ul > li,
  .part1 .header nav ul li .insideList.active > li {
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .part1 .header nav ul li:hover > ul > li,
  .part1 .header nav ul li .insideList.active > li {
    display: block;
  }
}

@media (max-width: 414px) {
  .part1 .header nav ul li:hover > ul > li,
  .part1 .header nav ul li .insideList.active > li {
    padding: 10px;
  }
}

.part1 .header nav ul li:hover > ul > li:nth-child(1) {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(2) {
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(3) {
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(4) {
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(5) {
  display: block;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

@-webkit-keyframes dropMenu {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

@keyframes dropMenu {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

.part1 .hero {
  text-align: center;
  height: 100vh;
  background: url(../../img/hero2-min-min.png);
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 1024px) {
  .part1 .hero {
    width: 1024px;
    background-position: -150px;
  }
}

@media (max-width: 950px) {
  .part1 .hero {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .part1 .hero {
    width: 900px;
    background-position: -250px;
  }
}

@media (max-width: 414px) {
  .part1 .hero {
    width: 414px;
    background-position: -1080px -240px;
  }
}

.part1 .hero .container .headings {
  margin-top: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .part1 .hero .container .headings {
    margin-left: 4%;
  }
}

@media (max-width: 414px) {
  .part1 .hero .container .headings {
    margin-left: 0%;
  }
}

@media (max-width: 600px) {
  .part1 .hero .container .headings h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 550px) {
  .part1 .hero .container .headings h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 414px) {
  .part1 .hero .container .headings h1 {
    font-size: 1.4em;
  }
}

.part1 .hero .container .headings span {
  background: black;
  padding: 0px 15px;
  color: white;
}

.part1 .hero .container h3 {
  font-size: 1em;
  margin: 5px 0;
  background: #89E872;
  display: inline-block;
}

@media (max-width: 738px) {
  .part1 .hero .container h3 {
    font-size: .9em;
  }
}

@media (max-width: 670px) {
  .part1 .hero .container h3 {
    font-size: .8em;
  }
}

@media (max-width: 600px) {
  .part1 .hero .container h3 {
    font-size: .7em;
  }
}

@media (max-width: 550px) {
  .part1 .hero .container h3 {
    font-size: .6em;
  }
}

@media (max-width: 376px) {
  .part1 .hero .container h3 {
    font-size: .5em;
  }
}

.part1 .hero .container .buttonSection {
  position: absolute;
  bottom: 0%;
  background: black;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .part1 .hero .container .buttonSection {
    left: 11%;
    bottom: 10.5%;
  }
}

@media (max-width: 800px) {
  .part1 .hero .container .buttonSection {
    left: 17%;
    bottom: 0%;
  }
}

@media (max-width: 550px) {
  .part1 .hero .container .buttonSection {
    bottom: 15%;
    left: 45.5%;
    width: 30%;
  }
}

@media (max-width: 414px) {
  .part1 .hero .container .buttonSection {
    bottom: 15%;
    left: 25%;
    width: 50%;
  }
}

.part1 .hero .container .buttonSection .border {
  height: 60px;
  width: 2px;
  background: white;
  margin-top: 20px;
  display: none;
}

.part1 .hero .container .buttonSection .border.active {
  display: block;
}

@media (max-width: 550px) {
  .part1 .hero .container .buttonSection .border.active {
    display: none;
  }
}

.part1 .hero .container .buttonSection button {
  font-size: 1.4em;
  background: black;
  color: white;
  width: 33%;
  height: 100px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

@media (max-width: 936px) {
  .part1 .hero .container .buttonSection button {
    font-size: 1.2em;
  }
}

@media (max-width: 550px) {
  .part1 .hero .container .buttonSection button {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

@media (max-width: 550px) {
  .part1 .hero .container .buttonSection button:nth-of-type(2), .part1 .hero .container .buttonSection button:nth-of-type(3) {
    display: none;
  }
}

.part1 .hero .container .buttonSection button:hover {
  font-size: 1.48em;
}

@media (max-width: 936px) {
  .part1 .hero .container .buttonSection button:hover {
    font-size: 1.28em;
  }
}

.part1 .hero .container .buttonSection button:active {
  background: white;
  color: black;
}

.part1 .hero .container .buttonSection button.active {
  background: white;
  color: black;
}

.part2 .container p {
  text-align: center;
  margin-top: 2.5em;
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  .part2 .container p {
    display: none;
  }
}

.part2 .container .guidelinesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 16%;
  width: 70%;
}

@media (max-width: 1200px) {
  .part2 .container .guidelinesContainer {
    display: none;
  }
}

.part2 .container .guidelinesContainer .number {
  padding: 40px 40px;
}

.part2 .container .guidelinesContainer .number:hover a {
  font-size: 4.4em;
}

.part2 .container .guidelinesContainer .number p {
  display: none;
}

.part2 .container .guidelinesContainer .border {
  width: 1px;
  height: 40px;
  background: #AEAEAE;
  margin-top: 70px;
}

.part2 .container .guidelinesContainer .border:nth-of-type(15), .part2 .container .guidelinesContainer .border:nth-of-type(1) {
  display: none;
}

.part2 .container .guidelinesContainer a {
  text-decoration: none;
  color: #AEAEAE;
  font-size: 4em;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.part2 .container .guidelinesContainer .number.active {
  padding-top: 0px;
}

.part2 .container .guidelinesContainer .number.active p {
  display: block;
  color: white;
  background: black;
  padding: 0px 5px 2px;
  margin-top: 0px;
  text-transform: uppercase;
}

.part2 .container .guidelinesContainer .number.active a {
  margin-left: 25px;
  color: black;
  font-size: 7em;
}

.part2 .container h2 {
  text-align: center;
  display: none;
}

@media (max-width: 414px) {
  .part2 .container h2 {
    font-size: 1.2em;
    margin-left: -15%;
  }
}

.part2 .container h2 span {
  display: none;
}

@media (max-width: 1200px) {
  .part2 .container h2 span {
    display: block;
    position: absolute;
    font-size: 17em;
    left: 17%;
  }
}

@media (max-width: 1024px) {
  .part2 .container h2 span {
    font-size: 13em;
    left: 13%;
  }
}

@media (max-width: 936px) {
  .part2 .container h2 span {
    font-size: 15em;
  }
}

@media (max-width: 500px) {
  .part2 .container h2 span {
    font-size: 10em;
  }
}

@media (max-width: 414px) {
  .part2 .container h2 span {
    font-size: 8em;
    margin-left: -13%;
    margin-top: 3%;
  }
}

@media (max-width: 1200px) {
  .part2 .container h2 {
    margin-top: 4em;
    display: block;
  }
}

.part2 .container h2.active {
  display: block;
}

.part2 .container .content {
  display: none;
  margin-bottom: 10em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media (max-width: 1200px) {
  .part2 .container .content {
    display: block;
  }
}

.part2 .container .content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: intro .3s ease-in-out;
          animation: intro .3s ease-in-out;
}

@media (max-width: 1200px) {
  .part2 .container .content.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes intro {
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}

.part2 .container .playButton {
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.part2 .container .playButton:hover {
  opacity: .85;
}

.part2 .container .playButton:active {
  opacity: 1;
}

.part2 .container .playButtonArrow {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.part2 .container .playButtonArrow:hover {
  -webkit-transform: scaleY(0.99);
          transform: scaleY(0.99);
}

.part2 .container .playButtonArrow:active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.part2 .container .content .text {
  margin-top: 120px;
}

@media (max-width: 1200px) {
  .part2 .container .content .text {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .part2 .container .content .text {
    margin-left: -21%;
  }
}

@media (max-width: 800px) {
  .part2 .container .content .text {
    margin-left: -12%;
  }
}

@media (max-width: 500px) {
  .part2 .container .content .text {
    width: 70%;
    margin-left: 5%;
  }
}

@media (max-width: 414px) {
  .part2 .container .content .text {
    width: 400px;
    margin-left: -50px;
    margin-top: -27%;
  }
}

.part2 .container .content .text ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

.part2 .container .content .text ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-left: 60px;
  padding-left: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1600px) {
  .part2 .container .content .text ol li {
    margin-left: 10px;
  }
}

@media (max-width: 1530px) {
  .part2 .container .content .text ol li {
    margin-left: -10px;
  }
}

@media (max-width: 1490px) {
  .part2 .container .content .text ol li {
    margin-left: -20px;
  }
}

@media (max-width: 1460px) {
  .part2 .container .content .text ol li {
    margin-left: -40px;
  }
}

@media (max-width: 1280px) {
  .part2 .container .content .text ol li {
    margin-left: -100px;
  }
}

@media (max-width: 1200px) {
  .part2 .container .content .text ol li {
    margin-left: 2em;
    font-size: 1.4em;
  }
}

@media (max-width: 1024px) {
  .part2 .container .content .text ol li {
    margin-left: 3em;
    font-size: 1.1em;
  }
}

@media (max-width: 1024px) {
  .part2 .container .content .text ol li {
    margin-bottom: 25px;
  }
}

@media (max-width: 936px) {
  .part2 .container .content .text ol li {
    font-size: 1em;
  }
}

.part2 .container .content .text ol li:nth-child(3) {
  padding-top: 5px;
}

@media (max-width: 730px) {
  .part2 .container .content .text ol li:nth-child(3) {
    padding-top: 8px;
  }
}

@media (max-width: 414px) {
  .part2 .container .content .text ol li:nth-child(3) {
    padding-top: 5px;
  }
}

.part2 .container .content .text ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: black;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: 28px;
  width: var(--size);
  height: var(--size);
  top: 8%;
  left: -12%;
  background: #89E872;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .part2 .container .content .text ol li::before {
    left: -5%;
  }
}

@media (max-width: 1024px) {
  .part2 .container .content .text ol li::before {
    left: -7%;
  }
}

@media (max-width: 638px) {
  .part2 .container .content .text ol li::before {
    left: -10%;
  }
}

.part2 .container .picture svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@media (max-width: 1280px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 1200px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: 13em;
    margin-top: 3em;
  }
}

@media (max-width: 1024px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: 0em;
  }
}

@media (max-width: 936px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-left: 3em;
    margin-top: 2.5em;
  }
}

@media (max-width: 730px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-left: 0em;
  }
}

@media (max-width: 500px) {
  .part2 .container .picture svg {
    margin-left: 2em;
  }
}

@media (max-width: 414px) {
  .part2 .container .picture svg {
    margin-left: -7.5em;
    margin-top: -5em;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.part3 {
  color: white;
  background: black;
  height: 500px;
  text-align: center;
  padding-top: 7em;
}

@media (max-width: 414px) {
  .part3 {
    padding-top: 5em;
  }
}

.part3 h1, .part3 p {
  letter-spacing: 2px;
}

.part3 h1 {
  font-size: 2.3em;
}

@media (max-width: 1024px) {
  .part3 h1 {
    margin-left: -10%;
  }
}

@media (max-width: 1024px) {
  .part3 h1 {
    margin-left: -5%;
  }
}

@media (max-width: 414px) {
  .part3 h1 {
    font-size: 2em;
    margin-left: -14%;
  }
}

@media (max-width: 1024px) {
  .part3 p {
    margin-left: -10%;
  }
}

@media (max-width: 1024px) {
  .part3 p {
    margin-left: -5%;
  }
}

@media (max-width: 414px) {
  .part3 p {
    font-size: .6em;
    margin-left: -14%;
  }
}

.part3 .container .buttonSection {
  background: #89E872;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5em;
}

@media (max-width: 1024px) {
  .part3 .container .buttonSection {
    margin-left: -10%;
  }
}

@media (max-width: 800px) {
  .part3 .container .buttonSection {
    margin-left: -5%;
  }
}

@media (max-width: 500px) {
  .part3 .container .buttonSection {
    width: 80%;
    margin-left: 8%;
  }
}

@media (max-width: 414px) {
  .part3 .container .buttonSection {
    width: 300px;
    margin-left: 30px;
    font-size: .55em;
    background: none;
    display: block;
  }
}

@media (max-width: 414px) {
  .part3 .container .buttonSection:nth-of-type(1) {
    display: none;
  }
}

.part3 .container .buttonSection:nth-of-type(2) {
  display: none;
}

@media (max-width: 414px) {
  .part3 .container .buttonSection:nth-of-type(2) {
    display: block;
  }
}

.part3 .container .buttonSection button {
  width: 100%;
  height: 80px;
  border: none;
  background: #89E872;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 414px) {
  .part3 .container .buttonSection button {
    margin-bottom: 2px;
    font-size: 1.8em;
  }
}

.part3 .container .buttonSection button:hover {
  background: #aeff9a;
}

.part3 .container .buttonSection button:active {
  background: #89E872;
}

.part3 .container .buttonSection .border {
  width: 1px;
  height: 50px;
  margin-top: 16px;
  background: #6b6b6b;
}

@media (max-width: 414px) {
  .part3 .container .buttonSection .border {
    display: none;
  }
}

.part4 {
  padding-bottom: 5em;
  background: black;
}

.part4 .container {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 500px) {
  .part4 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.part4 .container .column {
  width: 30%;
  margin-right: 5%;
}

@media (max-width: 500px) {
  .part4 .container .column {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .part4 .container .column {
    width: 400px;
    margin-left: -6%;
  }
}

.part4 .container .column h3 {
  color: #89E872;
  letter-spacing: 1px;
}

.part4 .container .column a {
  text-decoration: none;
  padding: 10px 0;
  color: white;
  display: block;
}

.part4 .container .column a:hover {
  color: #89E872;
}

.part4 .container .column p {
  color: white;
}

.part4 .container .column p:nth-child(4) {
  text-transform: uppercase;
}

.part4 .container .column svg {
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  cursor: pointer;
}

.part4 .container .column svg:hover {
  opacity: .7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.part4 .container .column svg:active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  background: black;
}

@media (max-width: 1024px) {
  .footer {
    padding: 4em 0;
  }
}

@media (max-width: 414px) {
  .footer {
    padding-bottom: 4em;
  }
}

.footer .container {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .footer .container {
    font-size: 1.3em;
  }
}

@media (max-width: 730px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }
}

@media (max-width: 414px) {
  .footer .container {
    width: 400px;
    margin-left: -28px;
  }
}

@media (max-width: 1024px) {
  .footer .container .logo {
    margin-left: -8%;
    margin-bottom: 8%;
  }
}

@media (max-width: 414px) {
  .footer .container .logo {
    margin-left: -8%;
  }
}

.footer .container a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 1.1em;
  margin-right: 11em;
}

@media (max-width: 1700px) {
  .footer .container a {
    margin-right: 9em;
  }
}

@media (max-width: 1670px) {
  .footer .container a {
    margin-right: 8em;
  }
}

@media (max-width: 1530px) {
  .footer .container a {
    margin-right: 6em;
  }
}

@media (max-width: 1400px) {
  .footer .container a {
    margin-right: 5em;
  }
}

@media (max-width: 1300px) {
  .footer .container a {
    margin-right: 4em;
  }
}

@media (max-width: 1200px) {
  .footer .container a {
    margin-right: 3em;
  }
}

@media (max-width: 1100px) {
  .footer .container a {
    margin-right: 2em;
  }
}

@media (max-width: 1100px) {
  .footer .container a {
    margin-right: 1em;
  }
}

@media (max-width: 950px) {
  .footer .container a {
    margin-right: .8em;
    font-size: .8em;
  }
}

@media (max-width: 414px) {
  .footer .container a {
    display: block;
  }
}

.footer .container a:hover {
  color: #89E872;
}

.footer .container a:active {
  color: white;
}

.blackBackground {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .97;
  -webkit-animation: blackBackgroundIntro .3s ease-in-out;
          animation: blackBackgroundIntro .3s ease-in-out;
}

@-webkit-keyframes blackBackgroundIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .97;
  }
}

@keyframes blackBackgroundIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .97;
  }
}

.blackBackground .video img {
  width: 50%;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 2px 2px 80px 10px rgba(255, 255, 255, 0.13);
          box-shadow: 2px 2px 80px 10px rgba(255, 255, 255, 0.13);
  display: none;
  -webkit-animation: videoIntro .3s ease-in-out;
          animation: videoIntro .3s ease-in-out;
  z-index: 2;
}

@media (max-width: 1024px) {
  .blackBackground .video img {
    width: 550px;
    height: 350px;
    left: 45%;
  }
}

@media (max-width: 414px) {
  .blackBackground .video img {
    width: 250px;
    height: 150px;
    left: 32%;
  }
}

@-webkit-keyframes videoIntro {
  0% {
    margin-top: 2.4em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes videoIntro {
  0% {
    margin-top: 2.4em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.blackBackground .video.active img {
  display: block;
}

.blackBackground .closeButton {
  position: absolute;
  right: 25%;
  top: 18%;
  display: none;
  -webkit-animation: closeButtonIntro .3s ease-in-out;
          animation: closeButtonIntro .3s ease-in-out;
  z-index: 2;
}

@media (max-width: 1024px) {
  .blackBackground .closeButton {
    right: 28%;
    top: 32%;
  }
}

@media (max-width: 800px) {
  .blackBackground .closeButton {
    right: 24%;
  }
}

@media (max-width: 414px) {
  .blackBackground .closeButton {
    right: 45%;
    top: 38%;
  }
}

@-webkit-keyframes closeButtonIntro {
  0% {
    margin-top: 1.2em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes closeButtonIntro {
  0% {
    margin-top: 1.2em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.blackBackground .closeButton.active {
  display: block;
}

.blackBackground.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */