body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, .container .buttonSection button, .guidelinesContainer a, .guidelinesContainer p {
  font-family: 'Paytone One', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.part1 .header {
  height: 40px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 2%;
}

.part1 .header .logo,
.part1 .header nav ul li,
.part1 .header nav ul li ul li,
.part1 .header button {
  cursor: pointer;
}

.part1 .header nav {
  position: relative;
  margin-left: -20%;
  text-decoration: none;
  color: white;
}

.part1 .header nav ul {
  list-style: none;
}

.part1 .header nav ul li {
  display: inline-block;
}

.part1 .header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 80px 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.part1 .header nav ul li a:hover {
  color: #89E872;
}

.part1 .header nav ul li span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 4px;
}

.part1 .header nav ul li ul {
  display: none;
  padding: 5px;
  background: black;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.part1 .header nav ul li ul li {
  list-style: none;
  padding: 20px;
}

.part1 .header nav ul li ul li:hover {
  color: #89E872;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.part1 .header nav ul li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: .98;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.part1 .header .buttonSection button {
  padding: 5px 10px;
  background: none;
  border: 1px solid white;
  -webkit-transition: .17s ease-in-out;
  transition: .17s ease-in-out;
}

.part1 .header .buttonSection button:hover {
  background: #89E872;
  border: 1px solid #89E872;
  color: black;
}

.part1 .header .buttonSection button:active {
  color: black;
  background: white;
  border: 1px solid white;
}

.part1 .header .buttonSection .contact {
  color: white;
}

.part1 .header .buttonSection .signUp {
  background: white;
}

.part1 .hero {
  text-align: center;
  height: 100vh;
  background: url(../img/hero1.png);
}

.part1 .hero .container h1 {
  font-size: 3.3em;
  letter-spacing: 2px;
  margin-top: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.part1 .hero .container h1 span {
  background: black;
  padding: 0px 15px;
  color: white;
}

.part1 .hero .container h3 {
  font-size: 1.4em;
  background: #89E872;
  padding: 2px 10px;
  margin: 5px 0;
  position: absolute;
  top: 66%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.part1 .hero .container h3:nth-of-type(2) {
  top: 70%;
  padding: 2px 17px;
}

.part1 .hero .container h3:nth-of-type(3) {
  top: 74%;
}

.part1 .hero .container .buttonSection {
  position: absolute;
  bottom: -10.5%;
  background: black;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part1 .hero .container .buttonSection .border {
  height: 60px;
  width: 2px;
  background: white;
  margin-top: 20px;
}

.part1 .hero .container .buttonSection .border:nth-of-type(1) {
  display: none;
}

.part1 .hero .container .buttonSection button {
  font-size: 1.4em;
  background: black;
  color: white;
  width: 33%;
  height: 100px;
  cursor: pointer;
  border: none;
}

.part1 .hero .container .buttonSection button.active {
  background: white;
  color: black;
}

.part2 .container p {
  text-align: center;
  margin-top: 2.5em;
  font-size: 1.2em;
}

.part2 .container .guidelinesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 16%;
  width: 70%;
}

.part2 .container .guidelinesContainer .number {
  padding: 40px 40px;
}

.part2 .container .guidelinesContainer .number p {
  display: none;
}

.part2 .container .guidelinesContainer .border {
  width: 1px;
  height: 40px;
  background: #AEAEAE;
  margin-top: 70px;
}

.part2 .container .guidelinesContainer .border:nth-of-type(15), .part2 .container .guidelinesContainer .border:nth-of-type(1) {
  display: none;
}

.part2 .container .guidelinesContainer a {
  text-decoration: none;
  color: #AEAEAE;
  font-size: 4em;
}

.part2 .container .guidelinesContainer .number.active {
  padding-top: 0px;
}

.part2 .container .guidelinesContainer .number.active p {
  display: block;
  color: white;
  background: black;
  padding: 0px 5px 2px;
  margin-top: 0px;
  text-transform: uppercase;
}

.part2 .container .guidelinesContainer .number.active a {
  margin-left: 25px;
  color: black;
  font-size: 7em;
}

.part2 .container h2 {
  text-align: center;
}

.part2 .container h2:nth-of-type(2) {
  display: none;
}

.part2 .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part2 .container .content:nth-of-type(3) {
  display: none;
}

.part2 .container .content .text {
  margin-top: 120px;
}

.part2 .container .content .text ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

.part2 .container .content .text ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-left: 60px;
}

.part2 .container .content .text ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: black;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: 28px;
  width: var(--size);
  height: var(--size);
  top: 8%;
  left: -12%;
  background: #89E872;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.part2 .container .picture svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
/*# sourceMappingURL=style.css.map */