@import "include-media.scss";

$new-green: #89E872;
$new-grey: #AEAEAE;


html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    @include media("<=1024px"){
        width: 1024px;
    }
 
    @include media("<=414px"){
        width: 414px;
    }
  
}
.container{
    width: 70%;
    margin: 0 auto;
    @include media("<=414px"){
        width: 414px;
    }
 
}

h1, h2, h3, .container .buttonSection button, .guidelinesContainer a, .guidelinesContainer p{
    font-family: 'Paytone One', sans-serif;
}
h1, h2 , h3{
    text-transform: uppercase;
}
a{
    outline:none;
}
.logo,
nav ul li,
nav ul li ul li,
button,
.number,
.playButton,
.playButtonArrow,
.blackBackground,
.hamburger{
    cursor: pointer;
}
.hamburger{
    display:none;
}
.part1{
    .logo{
        @include media("<=1024px"){
            margin-left: 10%;  
        }
        @include media("<=500px"){
            margin-left: 0%;  
        }
      
    }
    .hamburger{
        padding: 10px;
        border:1px solid white;
        span{
            display: block;
            margin-bottom: 8px;
            width: 30px;
            height: 2px;
            background: white;
            transition: .2s ease-in-out;
            &:nth-child(3){
                margin-bottom: 0;
            }
            &:nth-child(2).active{
                opacity: 0;
            }
            &:nth-child(3).active{
                transform:translateY(-10px) rotate(45deg)
            }
        }
        span.active{
            transform:translateY(10px) rotate(-45deg)
        }
        @include media("<=1024px"){
        display: block;
        position: absolute;
        top:30%;
        right: 25%;  
    }
        @include media("<=414px"){
        right: 25%;
    }
    
}

    .header{
        height: 40px;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 2%;
        width: 100%;
        position: fixed;
        z-index: 20;
        @include media("<=414px"){
            width: 414px;
        }
        
    nav{
        position: relative;
        margin-right: 5%;
        text-decoration: none;
        transition: .3s ease-in-out;
        color: white;
        &.active {
            display: block;
          }
        @include media("<=1370px"){
            margin-right: 10%;
          }
          @include media("<=1200px"){
            margin-right: 8%;
          }
          @include media("<=1180px"){
            margin-right: 6%;
          }
          @include media("<=1150px"){
            margin-right: 4%;
          }
          @include media("<=1130px"){
            margin-right: 2%;
          }
          @include media("<=1050px"){
            margin-right: 4%;
          }
          @include media("<=1024px"){
            display: none;
            background: black;
            width: 400px;
            height: 550px;
            position: absolute;
            top:100%;
            right: 0%;
        }
          @include media("<=414px"){
            width: 250px;
        }
       
        
        ul{ 
        list-style: none;
        li{
        display: inline-block;
        position: relative;
        
        padding: 30px 10px;
        @include media("<=1370px"){
            padding: 30px 20px;
          }
        @include media("<=1110px"){
            padding: 30px 15px;
          }
        @include media("<=1050px"){
            padding: 30px 10px;
          }
          @include media("<=1024px"){
            display: block;  
          }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9){
            @include media("<=1370px"){
                display:none;
              }
        }   
        &:nth-child(4){
           display:none;
           @include media("<=1370px"){
              display: inline-block;  
            }
           @include media("<=1024px"){
              display: block;  
            }
        }    
        &:nth-child(10) a,
        &:nth-child(11) a{
            padding: 5px 10px;
            background: none;
            border: 1px solid white;
            transition: .17s ease-in-out;
            @include media("<=1024px"){
                border:none;
              }
            @include media("<=414px"){
                margin-left: -12px;
            }   
            &:hover{
                background: $new-green;
                border: 1px solid $new-green;
                color: black;
                    @include media("<=1024px"){
                            background:none;
                            color: $new-green;
                            border: none;
                            padding:5px;
                              } 
            }
            &:active{
                color: black;
                background: white;
                border: 1px solid white;
                
                @include media("<=1024px"){
                    background:none;
                    color: $new-green;
                    border: none;
                    padding:5px;
                      } 
            }
        }
        &:nth-child(10){
            margin-left: 10em;
            padding-right: 0;
            @include media("<=1810px"){
                margin-left: 5em;
            }
            @include media("<=1724px"){
                margin-left: 2em;
            }
            @include media("<=1370px"){
                margin-left: 8em;
              }
            @include media("<=1310px"){
                margin-left: 6em;
              }
            @include media("<=1280px"){
                margin-left: 4em;
              }
            @include media("<=1240px"){
                margin-left: 2em;
              }
              @include media("<=1024px"){
                margin-left: 0;
              } 
        }
        
        &:nth-child(10) a{
            background: white;
            color: black;
            @include media("<=1024px"){
                border:none;
                background: black;
                color:white;  
              } 
        }
        a{
            text-decoration: none;
            color: white;
            padding: 80px 20px;
            transition: 0.2s ease;
            
            @include media("<=1676px"){
                padding: 80px 16px;
            }
            @include media("<=1610px"){
                padding: 80px 12px;
            }
            @include media("<=1540px"){
                padding: 80px 10px;
            }
            @include media("<=1510px"){
                padding: 80px 8px;
            }
            @include media("<=1480px"){
                padding: 80px 6px;
            }
            @include media("<=1440px"){
                padding: 80px 4px;
            }
            @include media("<=1410px"){
                padding: 80px 2px;
            }
            @include media("<=1024px"){
                display: block;
                padding:0;
                z-index: 2;
            }
            &:hover{
                color: $new-green;
               
            }
        }
            span{
                display: inline-block;
                transform: rotate(90deg);
                margin-left: 4px;
                padding-left: 4px;
                
                @include media("<=1024px"){
                    position: absolute;
                    left:-5%;
                    top:40%;
                    transform: rotate(180deg);
                }
                &:nth-child(2){
                    background:$new-green;
                    color: black;
                    font-size: 10px;
                    font-weight: 700;
                    padding:2px 6px;
                    position: absolute;
                    right:-2%;
                    top: 30%;
                    border-radius: 50%;
                    transform: rotate(0deg);
                }
            }
            ul{
                display: none;
                padding: 5px;
                position: absolute;
                top:100%;
                transition: 0.3s ease-in-out;
                @include media("<=1024px"){
                    top:5%;
                    right:100%;
                }
                @include media("<=414px"){
                    top:5%;
                    right:105%;
                }
               li{
                 list-style: none;
                 padding: 20px 20px;
                 background: black;
                 @include media("<=1024px"){
                    padding:0px;
                }
                 &:hover{
                     color: $new-green;
                     background: rgba(0, 0, 0, 0.863);
                     transition: 0.2s ease;
                 }
                 &:active{
                     background: black;
                 }
               }
            }
            &:hover > ul,
            .insideList.active{
                display: flex;
                opacity: .98;
                flex-direction: column;
                width: 100%;
                perspective: 1000px;
                @include media("<=1024px"){
                    display: block;
                }
                @include media("<=414px"){
                    width: 80%;
                }
            }
            &:hover > ul > li,
            .insideList.active > li{
                animation: dropMenu;
                animation-timing-function: ease-in-out;
                animation-fill-mode:forwards;
                box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.445);
                @include media("<=1050px"){
                    padding: 15px;
                }
                @include media("<=1024px"){
                    display: block;
                }
                @include media("<=414px"){
                    padding: 10px;
                }
            }
            &:hover > ul > li:nth-child(1){
                animation-duration: 300ms;
                }
            
            &:hover > ul > li:nth-child(2){
                animation-duration: 600ms;
                }
            
            &:hover > ul > li:nth-child(3){
                animation-duration: 900ms;
                }
            &:hover > ul > li:nth-child(4){
                animation-duration: 1200ms;
                }
            &:hover > ul > li:nth-child(5){
                display: block;
                animation-duration: 1500ms;
                
                }
            
            @keyframes dropMenu {
                0%{
                    opacity: 0;
                    transform: rotateY(-90deg) translateY(30px);
                }
                100%{
                    opacity: 1;
                    transform: rotateY(0deg) translateY(0px);
                }
        }
        
        }
        
    }
   
    }
}

.hero{
    text-align: center;
    height: 100vh;
    background: url(../img/hero1-min.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 100%;
    @include media("<=950px"){
        width: 100%;
    }
    @include media("<=414px"){
        width: 414px;
    }

    .container{
      
        .headings{
            margin-top: 0%;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            h1{ 
            @include media("<=600px"){
                font-size: 1.8em;
            }
            @include media("<=550px"){
                font-size: 1.6em;
            }
            @include media("<=414px"){
                font-size: 1.4em;
            }
             }
            span{
                background: black;
                padding: 0px 15px;
                color:white;
            }
        }
        h3{
            font-size: 1em;
            margin: 5px 0;
            background: $new-green;
            display: inline-block;
            @include media("<=738px"){
                font-size: .9em;
            }
            @include media("<=670px"){
                font-size: .8em;
            }
            @include media("<=600px"){
                font-size: .7em;
            }
            @include media("<=550px"){
                font-size: .6em;
            }
            @include media("<=376px"){
                font-size: .5em;
            }
        }
   .buttonSection{
       position: absolute;
       bottom: 0%;
       background: black;
       width: 70%;
       display: flex;
       justify-content: space-between;
       @include media("<=550px"){
        bottom: 15%;
        left: 45.5%;
        width:30%;
        }   
       @include media("<=414px"){
        bottom: 15%;
        left: 25%;
        width:50%;
        }   

       .border{
           height: 60px;
           width: 2px;
           background: white;
           margin-top: 20px;
           display: none;
        }
        .border.active{
            display: block;
            @include media("<=550px"){
                display: none;
            }
        }
       button{
           font-size: 1.4em;
           background: black;
           color: white;
           width: 33%;
           height: 100px;
           cursor: pointer;
           border: none;
           outline: none;
           transition: .15s ease-in-out;
           @include media("<=936px"){
            font-size: 1.2em;
          }
          @include media("<=550px"){
            width: 100%;
            height: 50px;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            
          }
          &:nth-of-type(2),
          &:nth-of-type(3){
            @include media("<=550px"){
                display: none;
            }
          }
           &:hover{
               font-size: 1.48em;
               @include media("<=936px"){
                font-size: 1.28em;
              }
           }
           &:active{
               background: white;
               color: black;
           }
          
       }
       button.active{
           background: white;
           color: black;
       }
   }
}
}}
.part2{
    .container{ 
    p{
        text-align: center;
        margin-top: 2.5em;
        font-size: 1.2em;
        @include media("<=1200px"){
            display:none;
          }
    }
    .guidelinesContainer{
        display: flex;
        justify-content: space-around;
        margin-left: 16%;
        width: 70%;
        @include media("<=1200px"){
            display:none;
          }
        .number{
            padding: 40px 40px;
           
        }
        .number:hover a{
            font-size: 4.4em;
        }
        .number p{
            display: none;
        }
        .border{
            width: 1px;
            height: 40px;
            background:$new-grey;
            margin-top: 70px;
            &:nth-of-type(15),
            &:nth-of-type(1){
                display: none;
            }
            
        }
        a{
            text-decoration: none;
            color:$new-grey;
            font-size: 4em;
            transition: .1s ease-in-out;
           
           
        }
        .number.active{
            padding-top: 0px;
        }
        .number.active p{
            display: block;
            color: white;
            background: black;
            padding: 0px 5px 2px;
            margin-top: 0px;
            text-transform: uppercase;
        }
        .number.active a{
            margin-left: 25px;
            color: black;
            font-size: 7em;
        }
    }
    h2{
        text-align: center;
        display: none;
        @include media("<=414px"){
            font-size: 1.2em;
            margin-left: -15%;
        }
        span{
            display: none;
            @include media("<=1200px"){
                display:block;
                position: absolute;
                font-size: 17em;
                left:17%;
              }
              @include media("<=936px"){
                font-size: 15em;
              } 
              @include media("<=500px"){
                font-size: 10em;
            } 
              @include media("<=414px"){
                font-size: 8em;
                margin-left: -13%;
                margin-top: 3%;
            } 
        }
        @include media("<=1200px"){
            margin-top: 4em;
            display: block;
          }
       
    }
    h2.active{
        display: block;
    }
    .content{
        display: none;
        margin-bottom: 10em;
        transition: .2s ease-in-out;
        @include media("<=1200px"){
            display:block;
          }
        }
    .content.active{
        display: flex;
        animation: intro .3s ease-in-out;
        @include media("<=1200px"){
            flex-direction: column;
        }
        @keyframes intro {
            0%{
                margin-top: 3em;
                opacity: 0;
            }
            100%{
                margin-top: 0em;
                opacity: 1;
            }
        }
    }
       
    .playButton{
        transition: .15s ease-in-out;
        &:hover{
            opacity: .85;
        }
        &:active{
            opacity: 1;
        }
    }
    .playButtonArrow{
        transform: scale(1);
        transition: .15s ease-in-out;
        &:hover{
            transform: scaleY(.99);
        }
        &:active{
            transform: scaleY(1);
        }
    }
    .content .text{
        margin-top: 120px;
        @include media("<=1200px"){
            margin-top:20px;
          }
          @include media("<=500px"){
            width: 70%;
            margin-left: 5%;
        }  
          @include media("<=414px"){
            width: 400px;
            margin-left: -50px;
            margin-top: -27%;
        }  
        
        ol{
            list-style: none;
            counter-reset: my-awesome-counter;
        }
        ol li{
            margin: 0 0 0.5rem 0;
            counter-increment: my-awesome-counter;
            position: relative;
            margin-left: 60px;
            padding-left: 10px;
            @include media("<=1600px"){
                margin-left: 10px;
            }
            @include media("<=1530px"){
                margin-left: -10px;
            }
            @include media("<=1490px"){
                margin-left: -20px;
            }
            @include media("<=1460px"){
                margin-left: -40px;
            }
            @include media("<=1280px"){
                margin-left: -100px;
            }
            @include media("<=1200px"){
                margin-left: 2em;
                font-size: 1.4em;
            }
            @include media("<=1024px"){
                margin-left: 3em;
                font-size: 1.1em;
            }
            @include media("<=936px"){
                font-size: 1em;
              }
          
            &:nth-child(3){
                padding-top: 5px;
                @include media("<=730px"){
                    padding-top: 8px;
                  }
                @include media("<=414px"){
                    padding-top: 5px;
                  }
            }
            &::before{
                content: counter(my-awesome-counter) ". ";
                color: black;
                font-size: 1rem;
                font-weight: bold;
                position: absolute;
                --size: 32px;
                left: calc(-1 * var(--size) - 10px);
                line-height: 28px;
                width: var(--size);
                height: var(--size);
                top: 8%;
                left:-12%;
                background: $new-green;
                border-radius: 50%;
                text-align: center;
                font-weight: bold;
                @include media("<=1200px"){
                    left:-5%;
                }
                @include media("<=1024px"){
                    left:-7%;
                }
                @include media("<=638px"){
                    left:-10%;
                }
            }  
        }
      
    }    
  
    .picture svg{
        transform: scale(.7);
        
            @include media("<=1280px"){
                transform: scale(.6);
            }
            @include media("<=1200px"){
                transform: scale(.9);
                margin-left: 13em;
                margin-top: 3em;
            }
            @include media("<=1024px"){
                transform: scale(.7);
                margin-left: 8em;
            }
            @include media("<=936px"){
                transform: scale(.6);
                margin-left: 3em;
                margin-top: 2.5em;
            }
            @include media("<=730px"){
                transform: scale(.5);
                margin-left: 0em;
            }
            @include media("<=500px"){
                margin-left: 2em;
            }
            @include media("<=414px"){
                margin-left: -7.5em;
                margin-top: -5em;
                transform: scale(.4);
            }
        
    }
}
}

.part3{
    color: white;
    background: black;
    height: 500px;
    text-align: center;
    padding-top:7em ;
    @include media("<=414px"){
        padding-top: 5em;
    }
    h1,p{
        letter-spacing: 2px;
    }
    h1{
        font-size: 2.3em;
        @include media("<=414px"){
            font-size: 2em;
            margin-left: -18%;
        }
    }
    p{
        @include media("<=414px"){
            font-size: .6em;
            margin-left: -18%;
        } 
    }
   .container{
       .buttonSection{
           background: $new-green;
           display: flex;
           justify-content: space-between;
           margin-top: 5em;
           @include media("<=500px"){
            width: 80%;
            margin-left: 8%;
           }
        @include media("<=414px"){
            width: 300px;
            margin-left:20px;
            font-size: .55em;
            background: none;
            display: block;
        }
        &:nth-of-type(1){
            @include media("<=414px"){
                display: none;
            }
        }
        &:nth-of-type(2){
            display: none;
            @include media("<=414px"){
                display: block;
            }
        }
      
           button{
               width: 100%;
               height: 80px;
               border: none;
               background: $new-green;
               font-size: 1.2em;
               cursor: pointer;
               @include media("<=414px"){
                margin-bottom: 2px;
                font-size: 1.8em;
            }
               &:hover{
                   
                   background: #aeff9a;
               }
              
               &:active{
                   background: $new-green;
               }
           }
           
           .border{
               width: 1px;
               height: 50px;
               margin-top: 16px;
               background: rgb(107, 107, 107);
               @include media("<=414px"){
                display: none;
            }
           }
         
       }
   }
}
.part4{
    padding-bottom: 5em;
    background: black;
       
    
    .container{ 
    background: black;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    @include media("<=500px"){
        flex-direction: column;
        text-align: center;
    }
   
    .column{
    width: 30%;
    margin-right: 5%;
    @include media("<=500px"){
        width: 100%;
    }
    @include media("<=414px"){
       width: 400px;
       margin-left: -8%;
    }
        h3{
            color: $new-green;
            letter-spacing: 1px;
        }
        a{
            text-decoration: none;
            padding: 10px 0;
            color:white;
            display: block;
            &:hover{
                color: $new-green;
            }
        }
        p{
            color: white;
            &:nth-child(4){
                text-transform: uppercase;
            }
        }
        svg{
            transition: .15s ease-in-out;
            cursor: pointer;
           &:hover{
               opacity: .7;
               transform: scale(1.1);
           } 
           &:active{
               opacity:1;
               transform: scale(1);
           } 
        }  
    }
    
}  
}
.footer{
    background: black;
    @include media("<=414px"){
        padding-bottom: 4em;
    }
    .container{ 
    background: black;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    @include media("<=730px"){
        flex-direction: column;
        text-align: center;
        font-size: 1em;
        padding: 10px;
    }
    @include media("<=414px"){
        width: 400px;
        margin-left: -40px;
    }
    .logo{
        @include media("<=414px"){
           margin-left: -10%;
        }  
    }
    a{
        text-decoration: none;
        color: white;
        line-height: 40px;
        font-size: 1.1em;
        margin-right: 11em;
        @include media("<=1700px"){
            margin-right: 9em;
        }
        @include media("<=1670px"){
            margin-right: 8em;
        }
        @include media("<=1530px"){
            margin-right: 6em;
        }
        @include media("<=1400px"){
            margin-right: 5em;
        }
        @include media("<=1300px"){
            margin-right: 4em;
        }
        @include media("<=1200px"){
            margin-right: 3em;
          }
        @include media("<=1100px"){
            margin-right: 2em;
          }
        @include media("<=1100px"){
            margin-right: 1em;
          }
        @include media("<=950px"){
            margin-right: .8em;
            font-size: .8em;
          }
        @include media("<=414px"){
            display: block;
        }
        &:hover{
            color: $new-green;
        }
        &:active{
            color:white;
        }
    }
    }
}

// VIDEO CLIP SECTION

.blackBackground{
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .97;
    animation: blackBackgroundIntro .3s ease-in-out;
    @keyframes blackBackgroundIntro{
        0%{
            opacity: 0;
        }
        100%{
            opacity: .97;
        }
    }
    .video img{
        width: 50%;
        height: 550px;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        box-shadow: 2px 2px 80px 10px rgba(255, 255, 255, 0.13);
        display: none;
        animation: videoIntro .3s ease-in-out;
        z-index: 2;
        @include media("<=414px"){
            width: 350px;
            height: 250px;
            left: 35%;
        }
        @keyframes videoIntro {
            0%{
                margin-top: 2.4em;
                opacity: 0;
            }
            100%{
                margin-top: 0;
                opacity: 1;
            }
        }
    }
    .video.active img{
        display: block;
    }
    .closeButton{
        position: absolute;
        right: 25%;
        top:18%;
        display: none;
        animation: closeButtonIntro .3s ease-in-out;
        z-index: 2;
        @include media("<=414px"){
           right: 35%;
           top:35%;
        }
        @keyframes closeButtonIntro {
            0%{
                margin-top: 1.2em;
                opacity: 0;
            }
            100%{
                margin-top: 0;
                opacity: 1;
            }
        }
    }
    .closeButton.active{
        display: block;
    }
}
.blackBackground.active{
    display: block;
} 

