$new-green: #89E872;


body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, .container .buttonSection button, .guidelinesContainer a{
    font-family: 'Paytone One', sans-serif;
}
h1, h2 , h3{
    text-transform: uppercase;
}
.part1{
    .header{
        height: 40px;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 2%;
    .logo,
    nav ul li,
    nav ul li ul li,
    button{
        cursor: pointer;
    }    
    nav{
        position: relative;
        margin-left: -20%;
        text-decoration: none;
        color: white;
        ul{ 
        list-style: none;
        li{
        display: inline-block;
        
        a{
            text-decoration: none;
            color: white;
            padding: 80px 20px;
            transition: 0.2s ease;
            &:hover{
                color: $new-green;
            }
        }
            span{
                display: inline-block;
                transform: rotate(90deg);
                margin-left: 4px;
            }
            ul{
                display: none;
                padding: 5px;
                background: black;
                position: absolute;
                top:100%;
                transition: 0.3s ease-in-out;
               li{
                 list-style: none;
                 padding: 20px;
                 &:hover{
                     color: $new-green;
                     transition: 0.2s ease;
                 }
               }
            }
            &:hover > ul{
                display: flex;
                opacity: .98;
                flex-direction: column-reverse;
            }
        }
        }
    }
    .buttonSection{
        button{
            padding: 5px 10px;
            background: none;
            border: 1px solid white;
            transition: .17s ease-in-out;
            &:hover{
                background: $new-green;
                border: 1px solid $new-green;
                color: black;
            }
            &:active{
                color: black;
                background: white;
                border: 1px solid white;
            }
        }
        .contact{
            color: white;
      
        }
        .signUp{
            background: white;
        }
    }
}

.hero{
    text-align: center;
    height: 100vh;
    background: url(../img/hero1.png);
    .container{
        width: 70%;
        margin: 0 auto;
        
        h1{
            font-size: 3.3em;
            letter-spacing: 2px;
            margin-top: 0%;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            span{
                background: black;
                padding: 0px 15px;
                color:white;
            }
        }
        h3{
            font-size: 1.4em;
            background: $new-green;
            padding: 2px 10px;
            margin: 5px 0;
            position: absolute;
            top:66%;
            left: 50%;
            transform: translate(-50%,-50%);
            &:nth-of-type(2){
                top:70%;
                padding: 2px 17px;
            }
            &:nth-of-type(3){
                top:74%;
            }
   
    }
   .buttonSection{
       position: absolute;
       bottom: -10.5%;
       left: 50%;
       background: black;
       display: flex;
       justify-content: space-between;
       transform: translate(-50%);
       .border{
           height: 60px;
           width: 2px;
           background: white;
           margin-top: 20px;
        &:nth-of-type(1){
            display: none;
        }
        }
       button{
           font-size: 1.4em;
           background: black;
           color: white;
           width: 400px;
           height: 100px;
           cursor: pointer;
           border: none;
          
       }
       button.active{
           background: white;
           color: black;
       }
   }
}
}}


