html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, .container .buttonSection button, .guidelinesContainer a, .guidelinesContainer p {
  font-family: 'Paytone One', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.logo,
nav ul li,
nav ul li ul li,
button,
.number,
.playButton,
.playButtonArrow,
.blackBackground,
.hamburger {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.part1 .hamburger {
  padding: 10px;
  border: 1px solid white;
}

.part1 .hamburger span {
  display: block;
  margin-bottom: 8px;
  width: 30px;
  height: 2px;
  background: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.part1 .hamburger span:nth-child(3) {
  margin-bottom: 0;
}

.part1 .hamburger span:nth-child(2).active {
  opacity: 0;
}

.part1 .hamburger span:nth-child(3).active {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.part1 .hamburger span.active {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

@media (max-width: 1010px) {
  .part1 .hamburger {
    display: block;
    position: absolute;
    right: 10%;
    top: 35%;
  }
}

.part1 .header {
  height: 40px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 2%;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.part1 .header nav {
  position: relative;
  margin-right: 5%;
  text-decoration: none;
  color: white;
}

@media (max-width: 1370px) {
  .part1 .header nav {
    margin-right: 10%;
  }
}

@media (max-width: 1200px) {
  .part1 .header nav {
    margin-right: 8%;
  }
}

@media (max-width: 1180px) {
  .part1 .header nav {
    margin-right: 6%;
  }
}

@media (max-width: 1150px) {
  .part1 .header nav {
    margin-right: 4%;
  }
}

@media (max-width: 1130px) {
  .part1 .header nav {
    margin-right: 2%;
  }
}

@media (max-width: 1050px) {
  .part1 .header nav {
    margin-right: 4%;
  }
}

@media (max-width: 1010px) {
  .part1 .header nav {
    background: black;
    width: 200px;
    height: 550px;
    position: absolute;
    top: 100%;
    right: 0%;
  }
}

.part1 .header nav ul {
  list-style: none;
}

.part1 .header nav ul li {
  display: inline-block;
  position: relative;
  padding: 30px 10px;
}

@media (max-width: 1370px) {
  .part1 .header nav ul li {
    padding: 30px 20px;
  }
}

@media (max-width: 1110px) {
  .part1 .header nav ul li {
    padding: 30px 15px;
  }
}

@media (max-width: 1050px) {
  .part1 .header nav ul li {
    padding: 30px 10px;
  }
}

@media (max-width: 1010px) {
  .part1 .header nav ul li {
    display: block;
  }
}

@media (max-width: 1370px) {
  .part1 .header nav ul li:nth-child(5), .part1 .header nav ul li:nth-child(6), .part1 .header nav ul li:nth-child(7), .part1 .header nav ul li:nth-child(8), .part1 .header nav ul li:nth-child(9) {
    display: none;
  }
}

.part1 .header nav ul li:nth-child(4) {
  display: none;
}

@media (max-width: 1370px) {
  .part1 .header nav ul li:nth-child(4) {
    display: inline-block;
  }
}

@media (max-width: 1010px) {
  .part1 .header nav ul li:nth-child(4) {
    display: block;
  }
}

.part1 .header nav ul li:nth-child(10) a,
.part1 .header nav ul li:nth-child(11) a {
  padding: 5px 10px;
  background: none;
  border: 1px solid white;
  -webkit-transition: .17s ease-in-out;
  transition: .17s ease-in-out;
}

@media (max-width: 1010px) {
  .part1 .header nav ul li:nth-child(10) a,
  .part1 .header nav ul li:nth-child(11) a {
    border: none;
  }
}

.part1 .header nav ul li:nth-child(10) a:hover,
.part1 .header nav ul li:nth-child(11) a:hover {
  background: #89E872;
  border: 1px solid #89E872;
  color: black;
}

.part1 .header nav ul li:nth-child(10) a:active,
.part1 .header nav ul li:nth-child(11) a:active {
  color: black;
  background: white;
  border: 1px solid white;
}

.part1 .header nav ul li:nth-child(10) {
  margin-left: 10em;
  padding-right: 0;
}

@media (max-width: 1810px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 5em;
  }
}

@media (max-width: 1724px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 2em;
  }
}

@media (max-width: 1370px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 8em;
  }
}

@media (max-width: 1310px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 6em;
  }
}

@media (max-width: 1280px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 4em;
  }
}

@media (max-width: 1240px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 2em;
  }
}

@media (max-width: 1010px) {
  .part1 .header nav ul li:nth-child(10) {
    margin-left: 0;
  }
}

.part1 .header nav ul li:nth-child(10) a {
  background: white;
  color: black;
}

@media (max-width: 1010px) {
  .part1 .header nav ul li:nth-child(10) a {
    border: none;
    background: black;
    color: white;
  }
}

.part1 .header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 80px 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media (max-width: 1676px) {
  .part1 .header nav ul li a {
    padding: 80px 16px;
  }
}

@media (max-width: 1610px) {
  .part1 .header nav ul li a {
    padding: 80px 12px;
  }
}

@media (max-width: 1540px) {
  .part1 .header nav ul li a {
    padding: 80px 10px;
  }
}

@media (max-width: 1510px) {
  .part1 .header nav ul li a {
    padding: 80px 8px;
  }
}

@media (max-width: 1480px) {
  .part1 .header nav ul li a {
    padding: 80px 6px;
  }
}

@media (max-width: 1440px) {
  .part1 .header nav ul li a {
    padding: 80px 4px;
  }
}

@media (max-width: 1410px) {
  .part1 .header nav ul li a {
    padding: 80px 2px;
  }
}

@media (max-width: 1010px) {
  .part1 .header nav ul li a {
    display: block;
    padding: 0;
    z-index: 2;
  }
}

.part1 .header nav ul li a:hover {
  color: #89E872;
}

.part1 .header nav ul li span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 4px;
  padding-left: 4px;
}

@media (max-width: 1010px) {
  .part1 .header nav ul li span {
    position: absolute;
    left: -5%;
    top: 40%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.part1 .header nav ul li span:nth-child(2) {
  background: #89E872;
  color: black;
  font-size: 10px;
  font-weight: 700;
  padding: 2px 6px;
  position: absolute;
  right: -2%;
  top: 30%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.part1 .header nav ul li ul {
  display: none;
  padding: 5px;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1010px) {
  .part1 .header nav ul li ul {
    top: 5%;
    right: 100%;
    z-index: 30;
  }
}

.part1 .header nav ul li ul li {
  list-style: none;
  padding: 20px 20px;
  background: black;
}

@media (max-width: 1010px) {
  .part1 .header nav ul li ul li {
    padding: 0px;
  }
}

.part1 .header nav ul li ul li:hover {
  color: #89E872;
  background: rgba(0, 0, 0, 0.863);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.part1 .header nav ul li ul li:active {
  background: black;
}

.part1 .header nav ul li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: .98;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 1010px) {
  .part1 .header nav ul li:hover > ul {
    display: block;
  }
}

.part1 .header nav ul li:hover > ul > li {
  -webkit-animation: dropMenu;
          animation: dropMenu;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.445);
          box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.445);
}

@media (max-width: 1050px) {
  .part1 .header nav ul li:hover > ul > li {
    padding: 15px;
  }
}

@media (max-width: 1010px) {
  .part1 .header nav ul li:hover > ul > li {
    display: block;
  }
}

.part1 .header nav ul li:hover > ul > li:nth-child(1) {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(2) {
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(3) {
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(4) {
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
}

.part1 .header nav ul li:hover > ul > li:nth-child(5) {
  display: block;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
}

@-webkit-keyframes dropMenu {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

@keyframes dropMenu {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

.part1 .hero {
  text-align: center;
  height: 100vh;
  background: url(../img/hero1.png);
}

.part1 .hero .container h1 {
  font-size: 3.3em;
  letter-spacing: 2px;
  margin-top: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1670px) {
  .part1 .hero .container h1 {
    font-size: 3em;
  }
}

@media (max-width: 1502px) {
  .part1 .hero .container h1 {
    font-size: 2.7em;
  }
}

@media (max-width: 1370px) {
  .part1 .hero .container h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 1280px) {
  .part1 .hero .container h1 {
    font-size: 2.3em;
  }
}

@media (max-width: 1190px) {
  .part1 .hero .container h1 {
    font-size: 2.1em;
    letter-spacing: 1px;
  }
}

.part1 .hero .container h1 span {
  background: black;
  padding: 0px 15px;
  color: white;
}

.part1 .hero .container h3 {
  font-size: 1.4em;
  background: #89E872;
  padding: 2px 10px;
  margin: 5px 0;
  position: absolute;
  top: 66%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1670px) {
  .part1 .hero .container h3 {
    font-size: 1.3em;
    top: 63%;
  }
}

@media (max-width: 1280px) {
  .part1 .hero .container h3 {
    top: 60%;
  }
}

@media (max-width: 1502px) {
  .part1 .hero .container h3 {
    font-size: 1.1em;
  }
}

@media (max-width: 1190px) {
  .part1 .hero .container h3 {
    font-size: 1em;
  }
}

.part1 .hero .container h3:nth-of-type(2) {
  top: 70%;
  padding: 2px 17px;
}

@media (max-width: 1670px) {
  .part1 .hero .container h3:nth-of-type(2) {
    top: 66.5%;
  }
}

@media (max-width: 1280px) {
  .part1 .hero .container h3:nth-of-type(2) {
    top: 63%;
  }
}

.part1 .hero .container h3:nth-of-type(3) {
  top: 74%;
}

@media (max-width: 1670px) {
  .part1 .hero .container h3:nth-of-type(3) {
    top: 70%;
  }
}

@media (max-width: 1280px) {
  .part1 .hero .container h3:nth-of-type(3) {
    top: 66%;
  }
}

.part1 .hero .container .buttonSection {
  position: absolute;
  bottom: 0%;
  background: black;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.part1 .hero .container .buttonSection .border {
  height: 60px;
  width: 2px;
  background: white;
  margin-top: 20px;
  display: none;
}

.part1 .hero .container .buttonSection .border.active {
  display: block;
}

.part1 .hero .container .buttonSection button {
  font-size: 1.4em;
  background: black;
  color: white;
  width: 33%;
  height: 100px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.part1 .hero .container .buttonSection button:hover {
  font-size: 1.48em;
}

.part1 .hero .container .buttonSection button:active {
  background: white;
  color: black;
}

.part1 .hero .container .buttonSection button.active {
  background: white;
  color: black;
}

.part2 .container p {
  text-align: center;
  margin-top: 2.5em;
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  .part2 .container p {
    display: none;
  }
}

.part2 .container .guidelinesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 16%;
  width: 70%;
}

@media (max-width: 1200px) {
  .part2 .container .guidelinesContainer {
    display: none;
  }
}

.part2 .container .guidelinesContainer .number {
  padding: 40px 40px;
}

.part2 .container .guidelinesContainer .number:hover a {
  font-size: 4.4em;
}

.part2 .container .guidelinesContainer .number p {
  display: none;
}

.part2 .container .guidelinesContainer .border {
  width: 1px;
  height: 40px;
  background: #AEAEAE;
  margin-top: 70px;
}

.part2 .container .guidelinesContainer .border:nth-of-type(15), .part2 .container .guidelinesContainer .border:nth-of-type(1) {
  display: none;
}

.part2 .container .guidelinesContainer a {
  text-decoration: none;
  color: #AEAEAE;
  font-size: 4em;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.part2 .container .guidelinesContainer .number.active {
  padding-top: 0px;
}

.part2 .container .guidelinesContainer .number.active p {
  display: block;
  color: white;
  background: black;
  padding: 0px 5px 2px;
  margin-top: 0px;
  text-transform: uppercase;
}

.part2 .container .guidelinesContainer .number.active a {
  margin-left: 25px;
  color: black;
  font-size: 7em;
}

.part2 .container h2 {
  text-align: center;
  display: none;
}

.part2 .container h2 span {
  display: none;
}

@media (max-width: 1200px) {
  .part2 .container h2 span {
    display: block;
    position: absolute;
    font-size: 17em;
    left: 17%;
  }
}

@media (max-width: 1200px) {
  .part2 .container h2 {
    margin-top: 4em;
    display: block;
  }
}

.part2 .container h2.active {
  display: block;
}

.part2 .container .content {
  display: none;
  margin-bottom: 10em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media (max-width: 1200px) {
  .part2 .container .content {
    display: block;
  }
}

.part2 .container .content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: intro .3s ease-in-out;
          animation: intro .3s ease-in-out;
}

@media (max-width: 1200px) {
  .part2 .container .content.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes intro {
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  100% {
    margin-top: 0em;
    opacity: 1;
  }
}

.part2 .container .playButton {
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.part2 .container .playButton:hover {
  opacity: .85;
}

.part2 .container .playButton:active {
  opacity: 1;
}

.part2 .container .playButtonArrow {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.part2 .container .playButtonArrow:hover {
  -webkit-transform: scaleY(0.99);
          transform: scaleY(0.99);
}

.part2 .container .playButtonArrow:active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.part2 .container .content .text {
  margin-top: 120px;
}

@media (max-width: 1200px) {
  .part2 .container .content .text {
    margin-top: 20px;
  }
}

.part2 .container .content .text ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

.part2 .container .content .text ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
  margin-left: 60px;
  padding-left: 10px;
}

@media (max-width: 1600px) {
  .part2 .container .content .text ol li {
    margin-left: 10px;
  }
}

@media (max-width: 1530px) {
  .part2 .container .content .text ol li {
    margin-left: -10px;
  }
}

@media (max-width: 1490px) {
  .part2 .container .content .text ol li {
    margin-left: -20px;
  }
}

@media (max-width: 1460px) {
  .part2 .container .content .text ol li {
    margin-left: -40px;
  }
}

@media (max-width: 1280px) {
  .part2 .container .content .text ol li {
    margin-left: -100px;
  }
}

@media (max-width: 1200px) {
  .part2 .container .content .text ol li {
    margin-left: 2em;
    font-size: 1.4em;
  }
}

.part2 .container .content .text ol li:nth-child(3) {
  padding-top: 5px;
}

.part2 .container .content .text ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: black;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: 28px;
  width: var(--size);
  height: var(--size);
  top: 8%;
  left: -12%;
  background: #89E872;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .part2 .container .content .text ol li::before {
    left: -5%;
  }
}

.part2 .container .picture svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@media (max-width: 1280px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 1200px) {
  .part2 .container .picture svg {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-left: 13em;
    margin-top: 3em;
  }
}

.part3 {
  color: white;
  background: black;
  height: 500px;
  text-align: center;
  padding-top: 7em;
}

.part3 h1, .part3 p {
  letter-spacing: 2px;
}

.part3 h1 {
  font-size: 2.3em;
}

.part3 .container .buttonSection {
  background: #89E872;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5em;
}

.part3 .container .buttonSection button {
  width: 100%;
  height: 80px;
  border: none;
  background: #89E872;
  font-size: 1.2em;
  cursor: pointer;
}

.part3 .container .buttonSection button:hover {
  background: #aeff9a;
}

.part3 .container .buttonSection button:active {
  background: #89E872;
}

.part3 .container .buttonSection .border {
  width: 1px;
  height: 50px;
  margin-top: 16px;
  background: #6b6b6b;
}

.part4 {
  background: black;
  padding-bottom: 5em;
}

.part4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.part4 .container .column {
  width: 30%;
  margin-right: 5%;
}

.part4 .container .column h3 {
  color: #89E872;
  letter-spacing: 1px;
}

.part4 .container .column a {
  text-decoration: none;
  padding: 10px 0;
  color: white;
  display: block;
}

.part4 .container .column a:hover {
  color: #89E872;
}

.part4 .container .column p {
  color: white;
}

.part4 .container .column p:nth-child(4) {
  text-transform: uppercase;
}

.part4 .container .column svg {
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  cursor: pointer;
}

.part4 .container .column svg:hover {
  opacity: .7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.part4 .container .column svg:active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  background: black;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 1.1em;
  margin-right: 11em;
}

@media (max-width: 1700px) {
  .footer .container a {
    margin-right: 9em;
  }
}

@media (max-width: 1670px) {
  .footer .container a {
    margin-right: 8em;
  }
}

@media (max-width: 1530px) {
  .footer .container a {
    margin-right: 6em;
  }
}

@media (max-width: 1400px) {
  .footer .container a {
    margin-right: 5em;
  }
}

@media (max-width: 1300px) {
  .footer .container a {
    margin-right: 4em;
  }
}

@media (max-width: 1200px) {
  .footer .container a {
    margin-right: 3em;
  }
}

@media (max-width: 1100px) {
  .footer .container a {
    margin-right: 2em;
  }
}

.footer .container a:hover {
  color: #89E872;
}

.footer .container a:active {
  color: white;
}

.blackBackground {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: .97;
  -webkit-animation: blackBackgroundIntro .3s ease-in-out;
          animation: blackBackgroundIntro .3s ease-in-out;
}

@-webkit-keyframes blackBackgroundIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .97;
  }
}

@keyframes blackBackgroundIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .97;
  }
}

.blackBackground .video img {
  width: 50%;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 2px 2px 80px 10px rgba(255, 255, 255, 0.13);
          box-shadow: 2px 2px 80px 10px rgba(255, 255, 255, 0.13);
  display: none;
  -webkit-animation: videoIntro .3s ease-in-out;
          animation: videoIntro .3s ease-in-out;
  z-index: 2;
}

@-webkit-keyframes videoIntro {
  0% {
    margin-top: 2.4em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes videoIntro {
  0% {
    margin-top: 2.4em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.blackBackground .video.active img {
  display: block;
}

.blackBackground .closeButton {
  position: absolute;
  right: 25%;
  top: 18%;
  display: none;
  -webkit-animation: closeButtonIntro .3s ease-in-out;
          animation: closeButtonIntro .3s ease-in-out;
  z-index: 2;
}

@-webkit-keyframes closeButtonIntro {
  0% {
    margin-top: 1.2em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes closeButtonIntro {
  0% {
    margin-top: 1.2em;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.blackBackground .closeButton.active {
  display: block;
}

.blackBackground.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */